<%# Главная страница лендинга %>

<%= render "shared/header" %>

<main>
  <%= render "partials/hero" %>
  <%= render "partials/services" %>
  <%= render "partials/workflow" %>
  <%= render "partials/portfolio" %>
  <%= render "partials/testimonials" %>
  <%= render "partials/contacts" %>
</main>

<%= render "shared/footer" %>

<%= render "shared/lead_modal",
           modal_id: "leadModal",
           modal_title: "Оставить заявку",
           form_url: leads_path,
           submit_text: "Отправить заявку" %>
