<!-- app/views/home/index.html.erb -->
<%= render "shared/header" %>

<main class="overflow-hidden">
  <%= render "partials/hero" %>
  <%= render "partials/about_us" %>
  <%= render "partials/services" %>
  <%= render "partials/workflow" %>
  <%= render "partials/portfolio" %>
  <%= render "partials/testimonials" %>
  <%#= render "partials/contacts" %>
</main>

<%= render "shared/footer" %>

<%= render "shared/lead_modal" %>